body {
    background-color: #211f1e;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
    text-align: center;
}

.gallery {
    text-align: center;
    display: flex;
    width: 100%;
    position: relative;
    z-index: 1;
    padding: 5px;
}

.gallery-item {
    margin: 10px;
    padding: 10px;
    width: 50%;
}
.gallery-2 {
    text-align: center;
    display: flex;
    width: 100%;
    position: relative;
    z-index: 1;
    padding: 5px;
}
.gallery-item-2 {
    margin: 10px;
    padding: 10px;
    width: 100%;
}

@media (min-width: 320px) {
    body {
      background-color: lightgreen;
    }
  }